<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel='stylesheet' type="text/css"/>

  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1> Contact  </h1>
    <p> Thank you for getting in Touch! </p>
    <p> you cntacted <%= data.who %> in the <%= data.department %> department.</p>
    <p> we will reply to you at <%= data.email %></p>
  </body>
</html>
