<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel='stylesheet' type="text/css"/>

  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1> Welcome to kevin website </h1>
    <p>hewhtlwehfelkwhfelwkahlk</p>


  </body>
</html>
